version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: moodify:latest
    container_name: moodify_app
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
